:root {
    --mainfont: 'Staatliches', cursive;

    --primary: #9c27b0;
    --darkprimary: #89119d;
    --secondary: #ffce00;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--primary);
    line-height: 2;
    font-size: 2rem;
}

/** Header-Bar **/
.header {
    display: grid;
    justify-content: center;
    padding: 3rem 0;
}
.bar {
    background-color: var(--darkprimary);
    padding: 1rem 0;
}
.bar nav {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    column-gap: 1rem;
    justify-content: center;
    text-align: center;
}
.bar nav a {
    font-family: var(--mainfont);
    color: white;
    text-decoration: none;
}
.bar nav a:hover {
    color: var(--secondary);
}
